body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.board-container {
    margin: auto;
    width: 450px;
    /* height: 200px; */
}

table,
/* td { */
    /* width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: gray;
    padding: 5px; */

    /* margin: 0; */
    /* text-align: center; */
/* } */
.cell{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    background-color: gray;
    padding: 5px;
    color: black;
    font-size: 25px;
    font-family: cursive;
}

.cell img {
    width: 30px;
    height: auto;
    font-size: 1.5em;
}

.cell:hover {
    /* background-color: rgb(210, 206, 206); */
    cursor: pointer;
}


.img {
    height: 20px;
    width: 10px;
}

footer {
    position: fixed;
    bottom: 0%;
}

.shown {
    background-color: rgb(200, 198, 198);
}
p{
    display: inline-block;
}
button img{
    height: 30px;
    width: 30px;
}