* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.game-display {
    background-color: rgb(161, 128, 154);
    width: 900px;
    margin: auto;
}

table,
td {
    border: 1px solid darkblue;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: gray;
    margin: auto;
    cursor: pointer;
}

.board-container td {
    width: 70px;
    height: 70px;
    text-align: center;
    transition: 0.8s;
    margin-left: 100px;
}

.cell img {
    width: 55px;
    height: auto;
    font-size: 1.5em;
}

.cell:hover {
    cursor: pointer;
}

button {
    background-color: rgb(88, 88, 211);
    font-family: cursive;
}

button:hover {
    cursor: pointer;
}

.img {
    height: 20px;
    width: 10px;
}

footer {
    min-height: 5vh;
}

.shown {
    background-color: rgb(200, 198, 198);
}

p {
    display: inline-block;
}

button img {
    height: 30px;
    width: 30px;
}

.lives {
    margin-top: 49px;
    margin-right: -138px;
    float: right;
    padding: 7px;
    background-color: rgb(182, 73, 164);
    border: 2px solid black;

}

.modal {
    background-color: rgb(161, 128, 154);
    border: 5px solid rgb(147, 14, 147);
    position: absolute;
    left: calc(50% - 133px);
    top: 150px;
    color: mediumvioletred;
    font-size: larger;
    font-family: -webkit-body;
    padding: 5px;
}

.hidden {
    display: none;
}

.user-name {
    float: left;
    padding: 10px;
    background-color: rgb(182, 73, 164);
}

.best-score {
    float: left;
    margin-top: 49px;
    margin-right: -40px;
    margin-left: -105px;
    padding: 2px;
    background-color: rgb(182, 73, 164);
    border: 2px solid black;
}

.dark-mode {
    float: right;
    padding: 10px;
    background-color: rgb(182, 73, 164);
}

.game-time {
    font-family: sans-serif;
    padding: 10px;
}